* {
  box-sizing: border-box;
}
body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: "Poppins", sans-serif;
}
main {
  padding: 0 16px 32px;
}
h1 {
  font-size: 64px;
  text-align: center;
  color: #61481c;
}
h1 .green-text {
  color: #48a300;
}
.app-container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.parent-sun {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
}
.sun-icon {
  vertical-align: middle;
  margin-left: 16px;
  /* padding-right: 5px; */
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  /* align-items: center;
  justify-content: center; */
  background-image: url("sun-face.svg");
  background-size: cover;
  animation: rotate 4s linear infinite;
}
.group-img {
  height: 100%; /* Adjust to fit the parent container */
  width: 100%; /* Adjust to fit the parent container */
  background-image: url("background-sun.svg"); /* Fixed path syntax */
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 16.5px;
  top: 0;
  left: 0;
  background-position: center;
}

.progress-text {
  font-size: 14px;
  color: #858585;
  margin-bottom: 20px;
}
.progress-bar {
  height: 30px;
  background-color: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
}
.progress {
  height: 100%;
  background-color: #48a300;
  border-radius: 15px;
  width: 0%;
  font-weight: 500;
  font-size: 10px;
  color: #eeffe0;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}
.progress span {
  padding-left: 20px;
  min-width: max-content;
}
.error-container {
  height: 48px;
}
.error-text {
  color: #ff5151;
  height: auto;
  font-size: 12px;
  /* margin-bottom: 20px; */
  margin: 0;
  padding-top: 4px;
  display: none;
}
.error-show {
  display: block;
}
.goal-container {
  height: 82px;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: #fff;
  margin-bottom: 48px;
  /* margin-top: 48px; */
}
.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed .custom-checkbox {
  background-color: #48a300;
  border-color: #48a300;
  /* background-image: url(""); */
}
.completed .check-icon {
  display: block;
}
.completed .goal-input {
  color: #48a300;
  text-decoration: line-through;
}
input {
  padding: 22px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  align-self: stretch;
}
input::placeholder {
  color: #d9d9d9;
}
.quote {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}
.footer {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #858585;
  margin-top: 64px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .app-container {
    padding: 16px 24px;
  }
  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 15px;
  }
  .custom-checkbox {
    width: 20px;
    height: 20px;
  }
  .footer {
    margin-top: 32px;
  }
  .progress-bar {
    height: 24px;
  }
}
